<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/agrikita_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".pages.ProductDetailPage"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.Profile"
            android:exported="false" />
        <activity
            android:name=".pages.CreateNewPassword"
            android:exported="false" />
        <activity
            android:name=".pages.VerifyPhoneNumber"
            android:exported="false" />
        <activity
            android:name=".pages.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".pages.SignUp"
            android:exported="false" />
        <activity
            android:name=".pages.Login"
            android:exported="false" />
        <activity
            android:name=".pages.LandingPage"
            android:exported="false" />
        <activity
            android:name=".pages.Marketplace"
            android:exported="false"></activity>
        <activity
            android:name=".pages.ShoppingCartPage"
            android:exported="false" />
        <activity
            android:name=".pages.InventoryManagement"
            android:exported="false"></activity>
        <activity
            android:name=".pages.Home"
            android:exported="false">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>